<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Edit your comment: <i><%= name  %> </i></h1>
  
  <form method="POST" action="/tweets/<%= id %>?_method=PATCH ">
    <textarea rows="10" cols="40" name="comment">
    <%= tweetContent  %> 
    </textarea><br>
    <button>SAVE</button>
  </form>
</body>
</html>